body {
    background-color: coral;
}

#container {
    background-color: lightgray;
    padding: 20px;
    width: 75%;
    margin: 0 auto;
    border: 4px solid black;
}

header h1 {
    text-align: center;
    font-size: 100px;
    color: black;
    text-shadow: 2px 2px 2px coral;
}

nav {
    text-align: center;
}

nav a {
    color: coral;
    font-size: 24px;
    font-weight: bold;
    margin: 0 10px;
}

nav a:hover {
    color: #000;
    text-decoration: none;
}

main img {
    display: block;
    width: 50%;
    margin: 20px auto;
}

a {
    color: coral;
}

a:hover{
    color: #000;
    text-decoration: none;
}

footer {
    padding: 40px 0;
    text-align: center;
}

h2 {
    text-align: center;
}

h3 {
    color: black;
}